
.apresentacao{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10%;
    background-color: #363c45
    
}




.apresentacao img{
  width: 300px;
  height: 300px;
  border-radius: 500px;
}

.texto{
    width: 50%;
    height: 400px;
    display: flex;
}

.bemvindo{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}