*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #363c45
=======
    font-family: 'Montserrat', sans-serif;
>>>>>>> 18fd4c9f82f807b010d3cbea9b7286c84532e285
}